<h1>Users#show</h1>
<% if false %>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

<div class="row">
  <div class="col-4">
    <%= render 'users/user', user: @user %>
    <%= render 'books/book', book: @book %>
  </div>
  <div class="col-8">
<% end %>


<h2>Books</h2>
  <p>title</p>
  <% @books.each do |book| %>
    <%= image_tag book.user.get_profile_image %>
    <p><%= link_to book.title,book_path(book.id) %></p>
    <p><%= book.body %></p>
  <% end %>
<!--  </div>-->
<!--</div>-->