<h3>Editing Book</h3>
<% if @book.errors.any? %>
      <p><%= @book.errors.count %>件のエラーが発生しました</p>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
<% end %>
<%= form_with model: @book do |f| %>
<p>title</p>
<%= f.text_field :title %>
<p>opinion</p>
<%= f.text_field :opinion %>
<%= f.submit "Update book" %>
<% end %>

<div>
  <%= link_to "back",book_path(@book.id) %>
</div>


