<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<div>
  <h3>User info</h3>
  <div><%= image_tag @user.get_image %></div>
  <p><%= @user.name %></p>
  <p><%= @user.introduction %></p>
</div>


<div>
  <h3>NewBook</h3>
  <%= form_with model: @book,method: :post do |f| %>
  <p>title</p>
  <%= f.text_field :title %>
  <p>introduction</p>
  <%= f.text_field :opinion %>
  <%= f.submit "submit" %>
  <% end %>
</div>