<h1>Books#index</h1>
    <% if @book.errors.any? %>
      <p><%= @book.errors.count %>件のエラーが発生しました</p>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
<p>Find me in app/views/books/index.html.erb</p>

<div>
  <h3>User info</h3>
  <div><%= image_tag @user.get_image %></div>
  <p><%= @user.name %></p>
  <p><%= @user.introduction %></p>
  <p><%= link_to "edit",edit_user_path(@user.id) %></p>
</div>


<div>
  <h3>NewBook</h3>
  <%= form_with model: @book,method: :post do |f| %>
  <p>title</p>
  <%= f.text_field :title %>
  <p>introduction</p>
  <%= f.text_field :opinion %>
  <%= f.submit "submit" %>
  <% end %>
</div>

<div>
  <h3>Books</h3>
  <p>title</p>
  <% @books.each do |book| %>
    <%= image_tag book.user.get_image %>
    <p><%= book.title %></p>
    <p><%= book.opinion %></p>
    <p><%= link_to "show",book_path(book.id) %></p>
    <p><%= link_to "edit",edit_book_path(book.id) %></p>
  <% end %>
</div>