<div class="col-8">
  <h2>Books</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th><%= image_tag @book.user.get_profile_image %></th>
        <th class="align-middle">
          <%= link_to book_path(@book.id) do %>
          <%= @book.title %>
          <% end %>
        </th>
        <th class="align-middle"><%= @book.body %></th>
        <% if @book.user.id==current_user.id %>
          <th class="align-middle"><%= link_to "destroy",method: :destroy %></th>
          <th class="align-middle"><%= link_to "edit",edit_book_path(@book) %></th>
        <% else %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
    </thead>
  </table>
</div>


<% if false %>
  <h3>Books</h3>
  <p>title</p>
    <%= image_tag @book.user.get_profile_image %>
    <p><%= @book.title %></p>
    <p><%= @book.body %></p>
    <% if @book.user.id==current_user.id %>
      <p><%= link_to "destroy",method: :destroy %></p>
      <p><%= link_to "edit",edit_book_path(@book) %></p>
    <% end %>
</div>
<% end %>