<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--##https://qiita.com/ryounagaoka/items/045b2808a5ed43f96607-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/4ac72d4f08.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <ul>
      <li><a href="/">bookers</a></li>
      <% if user_signed_in? %>
        <li><%= link_to "logout",destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Books",books_path %></li>
        <li><%= link_to "Users",users_path %></li>
        <!--user_controllerにてshowaction定義後、path修正-->
        <li><%= link_to "Home",user_path(current_user.id) %></li>
      <% else %>
        <li> <%= link_to "Log in",new_user_session_path %></li>
        <li><%= link_to "Sign_up",new_user_registration_path %></li>
        <li><%= link_to "About",about_path %></li>
        <li><%= link_to "Home",root_path %></li>
      <% end %>
      </ul>
    </header>
    <% flash.each do |key,value| %>
      <%= content_tag(:div,value,class: "#{key}") %>
    <% end %>
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <p class="mx-auto">CopyRight Infratop.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>
